<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Email">Email address:</label>
      <input type="email" formControlName="Email" placeholder="Email" name="Email" class="form-control" id="Email">
      <div *ngIf="submitted && editForm.controls.Email.errors" class="error">
        <div *ngIf="editForm.controls.Email.errors.required">Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="FirstName">First Name:</label>
      <input formControlName="FirstName" placeholder="First Name" name="FirstName" class="form-control" id="FirstName">
      <div *ngIf="submitted && editForm.controls.FirstName.errors" class="error">
        <div *ngIf="editForm.controls.FirstName.errors.required">FirstName is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="LastName">Last Name:</label>
      <input formControlName="LastName" placeholder="Last name" name="LastName" class="form-control" id="LastName">
      <div *ngIf="submitted && editForm.controls.LastName.errors" class="error">
        <div *ngIf="editForm.controls.LastName.errors.required">LastName is required</div>
      </div>
    </div>

    

    <mat-form-field>
        <mat-select placeholder="Select gender" formControlName="Gender">
          <mat-option *ngFor="let g of genders" [value]="g">
            {{g}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="submitted && editForm.controls.Gender.errors" class="error">
      <div *ngIf="editForm.controls.Gender.errors.required">Gender is required</div>
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
